Package: ufo-torrent
Version: 1.0-1
Section: base
Priority: optional
Architecture: all
Depends: libtorrent-rasterbar-dev,libgtest-dev,libcurl4-openssl-dev,libncurses5-dev,libncurses-dev,libncurses6,libboost-dev,libboost-locale-dev,libboost-filesystem-dev
Maintainer: UFO-Torrent command <you@email.com>
Homepage: https://github.com/MikeParadox/UFO_Torrent
Description: Simple and reliable torrent-clion build on BitTorrent protocol by SFE students
 team
